 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This is a site about me.  I like hockey, Go Canes!, reading, hiking, going to the beach, painting clesses, etc.</p>
                </div>
                <div class="col-lg-4">
                    <p>I try to volunteer a lot with different digital media literacy instruction.  Some of these have included the Community Workshop Series and the Kramden Institute. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    </a>
                </div>
            </div>
        </div>
    </section>